@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #EDEDED;
    color: #000000;
}
header{
    width: 100%;
    position: fixed;
    z-index: 99;
    background-color: #edededee
}
ul{
    display: flex;
    justify-content: center;
}
li{
    margin-right: 25px;
    list-style: none;
}
li:hover a{
    cursor: pointer;
    background-color: #ffa43c;
    border-radius: 5px;
    color: white;
}
a{
    text-decoration: none;
    padding: 10px;
    color: black;
}

/* Début code site */
/* Section "Accueil" */
hr{
    color: black;
    width: 50%;
}
h1, h2{
    margin: 0;
}
span{
    color: #ffa43c;
    font-weight: bolder;
    text-decoration: underline;
}
span:hover{
    cursor: pointer;
}
.accueil{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.accueil h1{
    font-size: 70px;
}
.accueil h2{
    font-size: 40px;
}
.accueil p{
    text-align: center;
}
.scroll{
    display: flex;
    justify-content: center;
}
.scroll a{
    color: hsla(0, 0%, 0%, 0.5);
    position: absolute;
    bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.scroll span{
    color: hsla(0, 0%, 0%, 0.5);
}

/* Debut code pour section introduction */
.introduction{
    position: relative;
    background: linear-gradient(#ededed, whitesmoke);
    display: flex;
    justify-content: center;
    align-items: center;
}
.introduction img{
    padding: 25px 50px 0 0;
    width: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
fieldset{
    display: flex;
    width: 50%;
    box-shadow: 1px 12px 25px rgb(0 0 0 / 10%);
}
legend{
    font-size: 30px;
}
fieldset p{
    font-size: 20px;
    padding: 25px;
}
fieldset span{
    color: rgb(0, 0, 0);
    font-style: italic;
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
    float: right;
}

/* Debut code pour section competences */
.competences{
    padding: 5%;
    background-color: whitesmoke;
}
.competences h2{
    text-align: center;
    font-size: 30px;
}


/* Debut code section formations */
.formation{
    padding: 5%;
    background-color: whitesmoke;
}
.formation h3{
    text-align: center;
    margin: 0;
    font-size: 30px;
}
.formation h2{
    padding: 25px;
}
.container-formation{
    top: 0 !important;
    z-index: 4;
    /* height: 150vh; */
    padding: 25px;
    padding-bottom: 100px;
}
.date{
    font-size: 20px;
}
.details p{
    max-width: 70%;
    text-align: justify;
    letter-spacing: 1px;
}

.container-formation .box{
    margin-top: 50px;
    /* border: 3px solid black; */
    padding: 25px;
    border-radius: 15px;
    box-shadow: 1px 12px 25px rgba(0, 0, 0, 0.274);
}
.container-formation .box:hover{
    /*background-color: rgba(192, 198, 255, 0.39);
    */background-color: #ffa43c;
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.container-formation .box p{
    display: flex;
    align-items: center;
}
.container-formation .box img{
    width: 20px;
    margin: 10px;
}
.container-formation .box:hover #i1, .box:hover #i2, .box:hover #i3, .box:hover #i4{
    filter: invert();
}
.container-formation .contenus-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-formation .text-contenus-box{
    width: 500px;
}
.vertical-bar{
    width: 3px;
    height: 50px;
    background-color: lightgrey;
}
.container-formation .skills-contenus-box img{
    width: 50px;
    margin-right: 30px;
}
#reactjs-img{
    border-radius: 50%;
}
.box:hover #cmd-img{
    filter: invert();
}

/* Debut code pour la section projets */
.projet{
    padding: 5%;
    height: 100vh;
    background-color: whitesmoke;
}
.projet h2{
    text-align: center;
}


.naviguate-top{
    box-shadow: 1px 12px 25px rgba(0, 0, 0, 0.11);
    position: fixed;
    z-index: 99;
    bottom: 50%;
    right: 50px;
    border-radius: 50%;
    background-color: white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.naviguate-top img{
    border-radius: 50%;
    width: 30px;
    padding: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.naviguate-top:hover{
    cursor: pointer;
    background-color: #ffa43c;
}
.naviguate-top:hover img{
    filter: invert();
    -webkit-filter: invert();
}
#top{
    padding: 0;
}